<div class="top_image items-center justify-center text-center py-20">
  <div class="mb-20 text-4xl font-title animate-fade-in">くまらぼへようこそ</div>
  <div class="text-3xl mb-20 font-zoo link link-primary"><%= link_to "ZooMania", top_zoos_path %></div>
  <div class="text-3xl mb-20 font-devil link link-neutral"><%= link_to "DevilFruitApp", devil_fruits_path %></div>
  <div class="text-3xl mb-20 font-dog link link-accent"><%= link_to "わんわんルーレット", dogs_path %></div>
  <div class="text-3xl mb-20 font-qiita link link-secondary"><%= link_to "Railsちゃんねる", qiitas_path %></div>
  <div class="text-3xl font-manga link link-primary"><%= link_to "コミックレコメンドロボ", genre_mangas_path %></div>
</div>
