<!DOCTYPE html>
<html class="text-black font-bold">
  <head>
    <title>KumaLab</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8X8J2FG3DR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-8X8J2FG3DR');
    </script>
    <%= display_meta_tags(default_meta_tags) %>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stick&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="star_image">
      <p class="text-3xl pl-5 py-5 font-title text-white"><%= link_to "くまらぼ", root_path %></p>
    </header>
    <div class="star_image text-white font-title text-sm lg:text-xl pb-2 pl-10">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="star_image text-white font-title text-xl items-center justify-center text-center">
      <% flash.each do |message_type, message| %>
        <div class="pb-5"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
    <footer class="star_image font-title relative py-20">
      <div class="md:ml-auto flex flex-wrap justify-center text-white pb-20">
        <%= link_to "プライバシーポリシー", privacy_policy_path, class: "link link-hover text-white text-base mx-2" %>
        <%= link_to "利用規約", terms_of_service_path, class: "link link-hover text-white text-base mx-2" %>
        <%= link_to "お問い合わせ", "https://forms.gle/aHoLgSmthYykwbZt6", target: :_blank, rel: "noopener noreferrer", class: "link link-hover text-white text-base mx-2" %>
      </div>
      <p class="text-center text-white text-xl">&copy; くまらぼ</p>
    </footer>
  </body>
</html>
